<div style="display:none">
  <div id="newsletter" class="newsletter-section text-center" style="width:600px; max-height:496px; max-width:100%;position:relative;">
    <img class="newsletter-bg" src="{{ 'popup.jpg' | asset_url }}" />
    <div class="newsletter--form">
      <form action="//floatiekings.us13.list-manage.com/subscribe/post?u=48982d426a910167c31a85aa0&amp;id=5319fddc2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="input-group">
          <h1><b>DAILY</b> GIVEAWAY</h1>
          <p>For a chance to win a <b>Free Float</b></p>
          <input type="email" placeholder="enter email here..." name="contact[email]" id="mail" class="input-group-field email" aria-label="email@example.com" autocorrect="off" autocapitalize="off" required>
          <button type="submit" name="subscribe" id="subscribe" value=""><i class="icon-arrow-right" aria-hidden="true"></i></button>
        </div>
        <input type="hidden" name="b_48982d426a910167c31a85aa0_5319fddc2f" tabindex="-1" value="">
        {% comment %}
        <small>Next draw in:</small>
        <span>[powr-count-up-timer id=4edf34a3_1475946778]</span>
        {% endcomment %}
      </form>
    </div>
  </div>
  <div id="mobilenewsletter">
    <div id="newsletter" class="newsletter-section text-center" style="width:400px; max-height:496px; max-width:100%;position:relative;">
      <img class="newsletter-bg" src="{{ 'mobilepopup.jpg' | asset_url }}" />
      <div class="newsletter--form">
        <form action="//floatiekings.us13.list-manage.com/subscribe/post?u=48982d426a910167c31a85aa0&amp;id=5319fddc2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="input-group">
          <h1><b>DAILY</b> GIVEAWAY</h1>
          <p>For a chance to win a <b>Free Float</b></p>
          <input type="email" placeholder="enter email here..." name="contact[email]" id="mail" class="input-group-field email" aria-label="email@example.com" autocorrect="off" autocapitalize="off" required>
          <button type="submit" name="subscribe" id="subscribe" value=""><i class="icon-arrow-right" aria-hidden="true"></i></button>
        </div>
        <input type="hidden" name="b_48982d426a910167c31a85aa0_5319fddc2f" tabindex="-1" value="">
        <small>Next draw in:</small>
        <span>[powr-count-up-timer id=4edf34a3_1475946778]</span>
        </form>
      </div>
    </div>
  </div>
</div>

{% comment %}{{ 'cookies.js' | asset_url | script_tag }}{% endcomment %}
<script type="text/javascript">
  function createCookie(days){
    var expires = new Date();
    var key = 'newsletter';
    var value = 'value';
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      var expires = '; expires=' + date.toGMTString();
    }
    else var expires = '';
    document.cookie = key + '=' + value + expires + '; path=/';
  }
  function getCookie(key) {
    var nameEQ = key + '=';
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  $(function() {
    $.exitIntent('enable');
    var wd = $(document).width();
    var cookies = getCookie('newsletter');
    function createPopup(){
      var x = window.event.screenX;
      var y = window.event.screenY;
      if((x == 0) && (y == 0)){
        popup('#newsletter');
      }
    }
    function popup(id){
      cookies = getCookie('newsletter');
      var modalDelay = parseInt('3000');
      var reappearTime = parseInt('3');
      var opend = $('.fancybox-opened').length;

      if((cookies == null || cookies === undefined || reappearTime == 0 ) && (opend == 0)){
        $.fancybox({
          'type': 'inline',
          'closeBtn': true,
          'href': id,
        });
        document.cookie = 'newsletter=value; path=/';
        //createCookie(reappearTime);
      }
    }
    if(wd > 768){
      //createCookie(parseInt('0'));
      $(document).bind('exitintent', function() {
        //popup('#newsletter');
        setTimeout((function(){ popup('#newsletter'); }), 3000);
      });
    }else{
      //setTimeout(popup('#mobilenewsletter'), 300);
      setTimeout((function(){ popup('#newsletter'); }), 3000);
    }
    /*$('.newsletter--form #contact_form #subscribe').click(function(e) {
      e.preventDefault();
      //createCookie(parseInt('7300'));
      $('.newsletter--form #contact_form').submit();
    });*/
    $('.newsletter--form #contact_form').submit(function(e) {
      e.preventDefault();
      var action = $(this).attr('action');
      var validate = $(this)[0].checkValidity();
      if(validate){
        $.ajax({
          type: "POST",
          async: true,
          url: action,
          data: $(this).serialize(),
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR, textStatus, errorThrown)
          },
          success: function(response) {
            var h = $('.newsletter--form').height();
            $('.newsletter--form').html('<h1><b>DAILY</b> GIVEAWAY</h1><p>Thank <b>you</b> for entering our <b>giveaway</b>!</p>');
            $('.newsletter--form').height(h);
            if(cookies == null || cookies === undefined){
              cookies = getCookie('newsletter');
              createCookie(parseInt('7300'));
            }
            setTimeout(function() {$.fancybox.close();},1000);
          }
        });
      }
      //$('.newsletter--form #contact_form').submit();
    });
  });
</script>
<style>
  .input-group{ position:relative; }
  #subscribe{
    position: absolute;
    right: 22px;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 10px;
    background: #000;
    color: #fff;
    border: 0px;
  }

  /*region newsletter css */
  .newsletter-bg {
    width: 100%;
    display: block;
  }

  .newsletter--form {
    background: #fff;
    top: calc(50% - 105px);
    position: absolute;
    width: 400px;
    -webkit-box-shadow: 0 10px 00px #00ffff;
    -moz-box-shadow: 0 10px 00px #00ffff;
    box-shadow: 15px 15px 0 #00ffff;
    left: calc(50% - 200px);
    text-align: center;
    padding: 15px;
    font-family: "Brandon Grotesque";
  }

  .newsletter--form h1 {
    font-size: 43px;
    font-family: 'OpenSans-Light';
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .newsletter--form h1 b {
    font-family: "Brandon Grotesque";
  }

  .newsletter--form p {
    font-size: 20px;
    letter-spacing: 1.1px;
    margin-bottom: 15px;
  }

  .newsletter--form #mail {
    width: 325px;
    margin: 0 auto;
    background: #d5d2d2;
    border: 2px solid #868686;
    color: #868686;
  }

  .newsletter--form small {
    font-size: 14px;
    letter-spacing: 0;
  }

  @media only screen and (max-width: 500px) {
    .shipping-banner {
      background-size: 120%;
      width: 96%;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 767px) {
    .newsletter--form {
      left: calc(50% - 130px);
      top: 30px;
      width: 260px;
    }
    .newsletter--form h1 {
      font-family: "OpenSans-Light";
      font-size: 20px;
    }
    .newsletter--form p {
      font-size: 12px;
      letter-spacing: 1px;
    }
    .fancybox-outer {
      background: url('mobilepopup.jpg') no-repeat center center;
      background-size: cover;
    }
    .newsletter--form #mail {
      width: 90%;
      height: 40px;
    }
    #subscribe {
      height: 40px;
    }
    .btn-other .other-data .product-title {
      width: calc(63% - 10px);
    }
    .btn-other.fix .other-data .product-price, .btn-other.fix .other-data .product-title {
      font-size: 13px !important;
    }
    .btn-other .other-data .product-price {
      width: 16%;
      text-align: right;
    }
    .template-product .product-title-row .product-title {
      width: 78%;
    }
    .cart-items span.description, .cart-items span.quantity, .cart-items span.price {
      font-size: 11px;
    }
    #cartform .border-bottom .half h2 {
      font-size: 14px;
    }
    #subscribe {
      margin: 0;
      right: 9px !important;
    }
  }

  @media only screen and (max-width: 440px) {
    .cart-thk {
      font-size: 14px;
      padding: 10px 0;
    }
  }

  @media only screen and (max-width: 400px) {
    .shipping-banner {
      background-size: 150%;
      width: 96%;
    }
  }

  .content iframe {
    max-width: 100%;
    min-height: 430px !important;
  }
  /*endregion*/
</style>