<div class="wufoo-popup-overlay">
  <div class="wufoo-popup">
    <span class="popup-close-btn top">X</span>
    <!--<h2><span class="popup-header">Olá!</span><span class="popup-confirm-header">Bem vindo à vida flutuante!</span></h2>
    <p class="popup-message">Gostaria de receber <span>ofertas especiais</span> e convites para eventos da Floatie Kings?</p>-->

    <div id="wufoo-popup">
      <div id="wufoo-m2uw73h0pnhlki">
        Fill out my <a href="https://floatiekings2017.wufoo.com/forms/m2uw73h0pnhlki">online form</a>.
      </div>

      <script type="text/javascript">var m2uw73h0pnhlki;(function(d, t) {
              var s = d.createElement(t), options = {
                  'userName':'floatiekings2017',
                  'formHash':'m2uw73h0pnhlki',
                  'autoResize':false,
                  'height':'',
                  'async':true,
                  'host':'wufoo.com',
                  'header':'show',
                  'ssl':true};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
                  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                  try { m2uw73h0pnhlki = new WufooForm();m2uw73h0pnhlki.initialize(options);m2uw73h0pnhlki.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>
    </div>
  </div>
</div>